/* Card WORK */
.card-work {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2rem 2rem 2rem;
  box-sizing: border-box;
}

.card-work:hover .card-inner {
  background: linear-gradient(to top, var(--primary-color) 0%, transparent 100%);
}

.card-title {
  opacity: 0;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: opacity 0.2s ease-out;
}

.card-work:hover .card-title {
  opacity: 1;
}

.card-work:hover .card-button {
  opacity: 1;
  transform: translateY(0);
}

.card-button {
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  transform: translateY(1rem);
}

.card-button a {
  display: block;
  background: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  transition: transform 0.2s ease-out;
}

.card-button a:hover {
  transform: translateY(-0.5rem);
}

@media (max-width: 767px) {
  .card-inner {
    position: relative;
    color: var(--color-white);
  }

  .card-title {
    opacity: 1;
  }

  .card-work .card-title a {
    padding: 2rem 1rem 0 1rem;
  }
}
