/* Footer section */
@media screen and (max-width: 767px) {
  :root {
    --footer-padding: 5rem 2rem 1rem;
  }
  
  .footer {
    padding: var(--footer-padding);
  }
  
  .social.nav, .footer-nav {
    text-align: center;
  }
  
  .social.nav li + li, .footer-nav li + li {
    padding-left: 2rem;
  }
}
